.contact-description {
  color: var(--secondary-color);
  font-size: 1.2em;
  line-height: 1.6;
}

.contact-footer {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.contact-icon {
  height: 30px;
  width: 40px;
  transition: transform 0.3s;
}

.contact-icon:hover {
  transform: scale(1.1);
}