body {
  margin: 0;
  font: normal 75% Arial, Helvetica, sans-serif;
}

canvas {
  display: block;
  vertical-align: bottom;
}

/* ---- particles.js container ---- */
#particles-js {
  position: fixed; /* Use fixed to ensure it covers the entire viewport */
  width: 100%;
  height: 100%;
  background-color: #2C3E50; /* Dark mode background color */
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  z-index: -1; /* Ensure the particle background is behind other content */
}