/* This is index.css file present in src folder. */

@tailwind base;
@tailwind components;
@tailwind utilities;

body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  background-color: #f0f4f8; /* Soothing background */
  color: #2e3a59; /* Text color */
}
