/* src/index.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
}

/* Dark mode variables */
:root {
  --background-color: #2E2E2E; /* Dark background color */
  --text-color: #C0C0C0;       /* Light text color */
  --primary-color: #2E2E2E;    /* Dark primary color */
  --secondary-color: #708090;  /* Dark secondary color */
  --accent-color: #007BFF;     /* Accent color */
  --highlight-color: #20B2AA;  /* Highlight color */
}

/* Additional styles for better UI */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

header {
  background-color: var(--primary-color);
  padding: 10px 0;
  text-align: center;
}

header h1 {
  margin: 0;
  font-size: 2rem;
  color: var(--accent-color);
}

main {
  padding: 20px;
}

footer {
  background-color: var(--primary-color);
  padding: 10px 0;
  text-align: center;
  color: var(--text-color);
}